.menu-bar {
  background-color: $dark-color;
  width: 100%;
  position: relative;
  z-index: 100;

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-text {
      color: $dark-color;
      font-size: 2rem;
      background-color: $light-color;
      padding: 0.8rem 1rem;
      border-radius: 50%;
      font-weight: 700;
    }

    .menu-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 600;

      .menu-item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .menu-link {
          font-size: 1.8rem;
          color: $light-color;
          min-height: 100%;
          padding: 1.8rem 2rem;
          @include easeOut;

          &:hover {
            background-color: lighten($dark-color, 10);
          }

          &:hover + .highlight {
            transform: translateY(0rem) translateX(-50%);
          }
        }

        .current {
          background-color: lighten($dark-color, 10);

          &:after {
            display: block;
            content: '';
            height: 0.5rem;
            width: 60%;
            background-color: $main-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
        }

        .highlight {
          height: 0.5rem;
          width: 60%;
          background-color: $main-color;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(0.6rem);
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          @include easeOut;
        }
      }
    }
  }
}
