@include mediaXL {
}

// 768 - 1170
@include mediaLg {
  .projects {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(312px, 340px) 1fr;

      .project-item {
        .project-desc {
        }
      }
    }
  }

  .section-skills {
    .skill-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// 500 - 768
@include mediaMd {
  .menu-btn {
    position: absolute;
    z-index: 200;
    left: 35px;
    top: 30px;

    @include easeOut;
  }

  .btn-line {
    width: 28px;
    height: 3px;
    background-color: $light-color;
    margin: 0 0 5px 0;

    @include easeOut;
  }

  .close-btn {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 35px;
    @include easeOut;

    .btn-line {
      width: 28px;
      height: 5px;
      background-color: $light-color;
      margin: 0 0 5px 0;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
      @include easeOut;
    }
  }

  .menu-bar {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $dark-color;
    color: $light-color;
    visibility: hidden;
    opacity: 0;
    @include easeOut;

    .container {
      width: 100%;
      height: 100%;
      .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .logo {
          margin-bottom: 2rem;
        }
      }
    }

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .menu-nav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .menu-nav {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        .menu-item {
          margin-bottom: 1rem;
          margin-left: 0;

          a {
            padding-bottom: 0.2rem;
          }
        }
      }
    }
  }

  #header-home {
    overflow: hidden;

    .header-overlay {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;

      &-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .name {
          margin: 0.5rem auto;
        }
      }
    }
  }

  .projects {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .section-skills {
    .skill-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .introduction {
    .introduction-wrapper {
      grid-template-columns: 1fr;
      padding: 0;

      .intro-photo {
        height: 20rem;
        background-size: contain;
      }

      .intro-text {
        margin-top: 4rem;
        justify-content: center;
        text-align: center;

        .intro-social-links {
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

// < 500
@include mediaSm {
  .projects {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

  .section-skills {
    .skill-grid {
      grid-template-columns: 1fr;
    }
  }

  #header-home {
    .mouse-animation {
      bottom: 8rem;
    }
    .header-overlay {
      margin-top: 25vh;

      &-left {
        .name {
          margin: 0.8rem auto 1.2rem auto;
          line-height: 1;
          font-size: 3.8rem;
        }

        .welcome {
          line-height: 1;
        }
      }
    }
  }

  .projects {
    .projects-grid {
      .project-item {
        .project-image {
          height: 22rem;
        }
      }
    }
  }

  .section-skills {
    .skill-grid {
      padding: 0 5rem;
      grid-gap: 1.5rem;
    }
  }

  .section-contact {
    form {
      input,
      textarea {
        width: 100%;
      }
    }
  }

  .introduction {
    .introduction-wrapper {
      .intro-text {
        .intro-contact-info {
          &-item {
            flex-direction: column;

            .fas {
              margin-right: 0;
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
