#header {
  &-project {
    height: 85vh;
    background-color: darken($main-color, 30);
    position: relative;
    overflow: hidden;

    .project-overview {
      color: $light-color;
      position: relative;
      left: 0;
      top: 15%;

      &-detail {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3rem;
        justify-content: center;
        align-items: start;
        margin-top: 5rem;

        &-text {
          border-left: 5px solid $second-color;
          padding-left: 1.5rem;
        }

        &-image {
          img {
            border-radius: 4px;
          }

          &-btn {
            display: flex;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

.project-tech {
  .project-tech-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &-image {
    }

    &-text {
      border-left: 4px solid $main-color;
      padding-left: 3rem;
      ul {
        list-style: square;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }

  .goback {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    a {
      display: inline-block;
    }
  }
}
