.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2.4rem;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: block;
  cursor: pointer;
  border: none;
  color: $light-color;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  @include easeOut;

  &.btn-primary {
    background-color: $main-color;

    &:hover {
      background-color: darken($main-color, 10);
    }
  }

  &.btn-negative {
    background: none;
    border: 1px solid $second-color;

    &:hover {
      background-color: $second-color;
      color: $dark-color;
    }
  }
}

.text-lead {
  font-size: 1.8rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }

  &-2 {
    margin-top: 2rem;
  }
}

.ml {
  &-1 {
    margin-left: 1rem;
  }

  &-2 {
    margin-left: 2rem;
  }
}

.my {
  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

section {
  padding: 10rem 0rem;

  .section-title {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5rem;

    &:after {
      display: block;
      content: "";
      height: 0.5rem;
      width: 5rem;
      background-color: $main-color;
    }
  }
}
